# ASSIGNMENT - 1    KARTHIK SANKHAR V (21MIA1152)

## Importing libraries

In [1]:
import pandas as p

## Task-1  Create a pandas dataframe (DataFrame name as with numpy random values (4 features and 4 observation)

In [40]:
df = p.DataFrame([[1,2,3,4],
                 [5,6,7,8],
                 [9,10,11,12],
                 [13,14,15,16]])
df

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

## Task - 2 Rename the task - 1 'df dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [41]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']

In [42]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0               1               2               3               4
1               5               6               7               8
2               9              10              11              12
3              13              14              15              16

## Task - 3 Find the descriptive statistics of the 'df dataframe.

In [43]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         7.000000        8.000000        9.000000       10.000000
std          5.163978        5.163978        5.163978        5.163978
min          1.000000        2.000000        3.000000        4.000000
25%          4.000000        5.000000        6.000000        7.000000
50%          7.000000        8.000000        9.000000       10.000000
75%         10.000000       11.000000       12.000000       13.000000
max         13.000000       14.000000       15.000000       16.000000

## Task - 4 Check for the null values in 'df and find the data type of the columns.

In [44]:
df.isnull().any()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

NOTE: As all the features in 'df' returns 'False', there is no missing values in the df.

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      int64
 1   Random value 2  4 non-null      int64
 2   Random value 3  4 non-null      int64
 3   Random value 4  4 non-null      int64
dtypes: int64(4)
memory usage: 256.0 bytes

NOTE: As all the features in 'df' returns 'int64' as the data type, the dataframe 'df' contains only integer type.

## Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [63]:
df.iloc[0:,1:3]

   Random value 2  Random value 3
0               2               3
1               6               7
2              10              11
3              14              15

In [60]:
df.loc[:, ["Random value 2", "Random value 3"]]

   Random value 2  Random value 3
0               2               3
1               6               7
2              10              11
3              14              15